@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: .32rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user {
    &:before {
        content: "\e63b";
    }
}

.icon-album {
    &:before {
        content: "\e68c";
    }
}

.icon-rankingList {
    &:before {
        content: "\e604";
    }
}

.icon-music {
    &:before {
        content: "\e611";
    }
}

.icon-prev {
    &:before {
        content: "\e68d";
    }
}

.icon-next {
    &:before {
        content: "\e663";
    }
}

.icon-play {
    &:before {
        content: "\e665";
    }
}

.icon-pause {
    &:before {
        content: "\e666";
    }
}

.icon-loop {
    &:before {
        content: "\e667";
    }
}

.icon-random {
    &:before {
        content: "\e619";
    }
}

.icon-single {
    &:before {
        content: "\e668";
    }
}

.icon-menu {
    &:before {
        content: "\e664";
    }
}

.icon-back {
    &:before {
        content: "\e607";
    }
}

.icon-noLike {
    &:before {
        content: "\e609";
    }
}

.icon-like {
    &:before {
        content: "\e616";
    }
}

.icon-download {
    &:before {
        content: "\e60b";
    }
}

.icon-search {
    &:before {
        content: "\e65f";
    }
}

// 购物车
.icon-cart {
    &:before {
        content: "\e600";
    }
}

// 数字专辑
.icon-digitalAlbum {
    &:before {
        content: "\e672";
    }
}

// vip
.icon-vip {
    &:before {
        content: "\e670";
    }
}

// 试听
.icon-audition {
    &:before {
        content: "\e671";
    }
}

// 已购
.icon-bought {
    &:before {
        content: "\e673";
    }
}

// 播放不带圈
.icon-smallPlay {
    &:before {
        content: "\e612";
    }
}