// 背景图片
//@mixin bg-image($url) {
//  background-image: url($url + "@2x.png");
//  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
//    background-image: url($url + "@3x.png");
//  }
//}

@mixin bg-coverAndCenter() {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin bg-cover($url) {
  background-image: url($url);

  @include bg-coverAndCenter();
}

// 不换行
@mixin no-wrap() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin nth-lines($num) {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}

// 扩展点击区域
@mixin extend-click() {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
}
