// 颜色定义规范
$color-html-background: #f1f1f1;
$color-background: #fff;
$color-nav-background: #e3e3e3;
$color-search-background: #f1f1f1;
$color-progress-background: rgba(181, 181, 181, .3);
$color-text-b: #333;
$color-text-w: #fff;
$color-text-g: #e2e2e2;
$color-grey-background: #B5B5B5;
$color-font-theme: #9370DB;
$color-font-theme2: #E6E6FA;
$color-icon-default: #fff;

//字体定义规范
$font-size-small-s: .24rem;
$font-size-small: .28rem;
$font-size-medium-s: .3rem;
$font-size-medium: .32rem;
$font-size-medium-x: .36rem;
$font-size-large: .40rem;
$font-size-large-x: .44rem;
$font-size-large-2x: .46rem;
$font-size-large-3x: .48rem;
