// 颜色定义规范
$color-html-background: #fafafa;
$color-background: #fff;
$color-grey-background: #B5B5B5;
$color-nav-background: #e3e3e3;
$color-search-background: #f1f1f1;
$color-progress-background: rgba(181, 181, 181, .3);

$color-text-theme: #9370DB;
$color-text-default: #333;
$color-text-white: #fff;
$color-text-grey: #e2e2e2;

$color-icon-default: #fff;

//字体定义规范
$font-size-small-s: .24rem;
$font-size-small: .28rem;
$font-size-medium-s: .3rem;
$font-size-medium: .32rem;
$font-size-medium-x: .36rem;
$font-size-large: .40rem;
$font-size-large-x: .44rem;
$font-size-large-2x: .46rem;
$font-size-large-3x: .48rem;
